<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Repeater.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Repeater.Properties.Settings>
            <setting name="IDString" serializeAs="String">
                <value>dah dit dah. dit dit dit dah. dit dah. dah dit. dah dah</value>
            </setting>
            <setting name="PTTCommPort" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="IDTimeout" serializeAs="String">
                <value>300</value>
            </setting>
        </Repeater.Properties.Settings>
    </applicationSettings>
</configuration>